<!DOCTYPE html>
<html lang="en">
    <div class="container-fluid header">
      <div class="row">
        <div class="col-auto">
          <img
            id="logo"
            src="../../assets/amazon-white.png"
            alt="amazon logo"
          />
        </div>
        <div class="col-auto button-container">
            <!-- Add map location icon here before the deliver to text -->
            <button class="btn btn-primary button">
                <span class="address">Address</span>
                <span class="deliver">Deliver To</span>
            </button>
        </div>
      </div>
    </div>
</html>
